@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

/*Navbar*/
.bg-white {
    background: transparent !important;
}

.navbar-brand img {
    height: 35px;
}

body main {
    background-color: black;
}

.icon {
    display: ruby-text;
    background: turquoise;
}

.card-body {
    background-color: turquoise;
}

form .btn {
    background: turquoise;
}